body{
   background-color: lightgrey; 
  font-family:sans-serif;
    margin:0;
    padding:0;
}
.container{
    max-width: 960px;
    margin:0 auto;
    padding:20px;
}
.blog-post h2 {
    margin-bottom: 10px;
  }
  
  .blog-post img {
    max-width: 100%;
    height: auto;
  }
  
  .footer {
    text-align: center;
    padding: 20px 0;
  }
  .test{
    font-family:sans-serif;text-underline-position: under;
  }
  a {
    color: gray;
  }
  navbar{
    alignment:left;
  }